html,
body {
  min-height: 100vh;
}

body {
  background: rgb(3, 131, 195);
  background: linear-gradient(
    180deg,
    rgba(3, 131, 195, 0.9906337535014006) 10%,
    rgba(104, 175, 202, 1) 60%,
    rgba(216, 238, 238, 1) 95%
  );
}

h1 {
  color: white;
}

.whiteBg {
  background-color: white;
  border-radius: 8px;
}
