* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

*:-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html,
body {
  min-height: 100vh;
  font-size: 1.1em;
}

body {
  background: rgb(3, 131, 195);
  background: linear-gradient(
    180deg,
    rgba(3, 131, 195, 0.9906337535014006) 10%,
    rgba(104, 175, 202, 1) 60%,
    rgba(216, 238, 238, 1) 95%
  );
}

nav {
  background-color: #005986;
}

#logo {
  background-color: white;
  border-radius: 25px;
}

h1 {
  color: white;
}

.whiteBg {
  background-color: white;
  border-radius: 8px;
}

.custCard {
  border-bottom: 1px solid #00000033;
  /*  border-radius: 5px; */
  background-color: white;
}

.searchList {
  background-color: white;
}
input:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}

a {
  text-decoration: none;
  color: #2f96c6;
}

.daily {
  margin-bottom: 5em !important;
}
